<div class="flex flex-col gap-6 lg:gap-10">
  <div *ngFor="let experience of experiences" class="space-y-3 lg:space-y-4 p-3 lg:p-4 rounded-lg border border-gray-800 bg-gray-800/30">
    <h3 class="text-lg lg:text-xl font-medium text-primary leading-tight">
      {{ experience.position }} - {{ experience.company }}
    </h3>
    <p class="text-xs lg:text-sm text-muted-foreground italic mb-2">
      {{ experience.dateStart }} – {{ experience.dateEnd }}
    </p>
    <ul class="list-disc list-inside text-muted-foreground space-y-1 lg:space-y-2 ml-2 lg:ml-4 text-sm lg:text-base">
      <li *ngFor="let achievement of experience.achievements" class="leading-relaxed">
        {{ achievement }}
      </li>
    </ul>
  </div>
</div>
