name: Vercel Production Deployment

env:
  VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  push:
    branches:
      - main

jobs:
  Deploy-Production:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Vercel CLI
        run: npm install -g vercel

      - name: Pull vercel environment variables
        run: vercel pull --yes --environment production --token $VERCEL_TOKEN

      - name: Build project artifacts
        run: vercel build --prod --token $VERCEL_TOKEN

      - name: Deploy project artifacts
        run: vercel deploy --prebuilt --prod --token $VERCEL_TOKEN --confirm